*{
  box-sizing: border-box;
}


[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 70%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

[data-tooltip]:hover::before {
  opacity: 1;
}
