*{
  box-sizing: border-box;
}


[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 70%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

[data-tooltip]:hover::before {
  opacity: 1;
}

.loading svg{
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

 circle {
 fill: none;
 stroke: hsl(214, 97%, 59%);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}
